@using Microsoft.AspNetCore.Identity
@inject UserManager<Wod.Data.ApplicationUser> appUser
@{
    ViewData["Title"] = "Profile";

}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div class="container">
    <div class="row flex-lg-nowrap">
        @*<div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                <div class="card p-3">
                    <div class="e-navlist e-navlist--active-bg">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link px-2 active" href="./overview.html"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2" href="./users.html"><i class="fa fa-fw fa-th mr-1"></i><span>Change Email</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2" href="./settings.html"><i class="fa fa-fw fa-cog mr-1"></i><span>Change Password</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>*@

        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="container">
                                            <img src="" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@User.FindFirst("FullName").Value</h4>
                                            <p class="mb-0">@User.Identity.Name</p>
                                            <div class="text-muted"><small>Last seen 2 hours ago</small></div>



                                        </div>
                                        <div class="text-center text-sm-right">
                                            <span class="badge badge-secondary">administrator</span>
                                            <div class="text-muted"><small>Joined @appUser.GetUserAsync(User).Result.CreatedOn.ToString("dddd dd MMMM yyyy")</small></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<script>
    document.getElementById('buttonid').addEventListener('click', openDialog);

    function openDialog() {
        document.getElementById('fileid').click();
    }
</script>>
