@model Wod.Models.WodApp.VIewModels.Post.IndexPostViewModel
@{
    this.ViewData["Title"] = "Category";

}
<h1 style="text-align:center">@Model.Posts.First().CategoryName Category</h1>
<partial name="_IndexPartial" />