
@model Wod.Models.WodApp.Inputmodels.CreatePostInputModel
@{ 
    var categories = Model.Categoryes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="container ">
    <div class="row ">
        <form id="form1" method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group col-sm">
                <label>Preview:</label>
                <div><img id="thumbnil" style="width:20%; margin-top:10px;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="image" /></div>
                <input asp-for="PictureUrl" type="file" accept="image/*" onchange="showMyImage(this)" />
                <span asp-validation-for="PictureUrl"class="text-danger"></span>

                <br />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Tittle"></label>
                <input asp-for="Tittle" class="form-control" placeholder="Tittle" />
                <span asp-validation-for="Tittle" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="categories" class="form-control "></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <hr />
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>
                   
                

@*<script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function showMyImage(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var imageType = /image.*/;
            if (!file.type.match(imageType)) {
                continue;
            }
            var img = document.getElementById("thumbnil");
            img.file = file;
            var reader = new FileReader();
            reader.onload = (function (aImg) {
                return function (e) {
                    aImg.src = e.target.result;
                };
            })(img);
            reader.readAsDataURL(file);
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

