
@model WodApp.Models.CreateMovementInputModel

@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>


        </ul>
        <a class="bg-primary" type="button" asp-controller="home" asp-action="Add">Add</a>>
        <a class="bg-primary" type="button" asp-controller="home" asp-action="Test2">TEST2</a>>


    </div>
