
@model WodApp.Models.CreateMovementInputModel

@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>


        </ul>
        <a class="bg-primary" type="button" asp-controller="home" asp-action="Add">Add</a>>
        <a class="bg-primary" type="button" asp-controller="home" asp-action="Test2">TEST2</a>>


    </div>
@*<script src="https://your-local-host.domain/cloudinary_js/jquery.ui.widget.js"></script>
<script src="https://your-local-host.domain/cloudinary_js/jquery.iframe-transport.js"></script>
<script src="https://your-local-host.domain/cloudinary_js/jquery.fileupload.js"></script>
<script src="https://your-local-host.domain/cloudinary_js/jquery.cloudinary.js"></script>
<script src="https://your-local-host.domain/cloudinary_js/canvas-to-blob.min.js"></script>
<script src="https://your-local-host.domain/cloudinary_js/jquery.fileupload-image.js"></script>
<script src="https://your-local-host.domain/cloudinary_js/jquery.fileupload-process.js"></script>
<script src="https://your-local-host.domain/cloudinary_js/jquery.fileupload-validate.js"></script>
<script src="https://your-local-host.domain/cloudinary_js/load-image.all.min.js"></script>

<script type='text/javascript'>
    $.cloudinary.config({
        "cloud_name": "your_cloud_name",
        "api_key": "your_api_key",
        "private_cdn": false,
        "cdn_subdomain": false
                    );
</script>
<script>$(function() {
    if($.fn.cloudinary_fileupload !== undefined) {
        $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
    }
});</script>


<script>
function UploadImage(){
    if (window.FormData !== undefined) {
        var fileUpload = $("#SourceImages").get(0);
        var files = fileUpload.files;

        // Create FormData object
        var fileData = new FormData();

        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        var OldFolderID = $("#FolderID").val();
        var NewFolderID = '@ViewBag.FolderPath';

        // Adding one more key to FormData object
        if (OldFolderID == NewFolderID) {
        fileData.append('FolderID', NewFolderID);
        }
        else {
        fileData.append('FolderID', OldFolderID);
        }

        $.ajax({
        url: '/ControllerName/UploadImageMethodName',
        type: "POST",
        contentType: false, // Not to set any content header
        processData: false, // Not to process data
        data: fileData,
        success: function (result) {
        alert(result);
        },
        error: function (err) {
        alert(err.statusText);
        }
        });
        }
        else {
        alert('FormData is not supported.');
    }
</script>>*@
